<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->

<connectionStrings>
  <add name="TCConnection" connectionString="Data Source=103.149.165.116,1433;initial catalog=SellHubExpress;user id=sa;Password=KlSDI%%$w2;MultipleActiveResultSets=true;Connect TimeOut=15;Max Pool Size=500;" providerName="System.Data.SqlClient"/>
</connectionStrings>


